{%extends 'admin/admin_panel.html'%}
{%block title%}
Edit Gift
{%endblock%}
{%block contents%}
{%if session.get("adminname") != None%}




<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <form action="/update/" method='post'>
            <div class="row">
                <div class="col-4">
                    <label id='giftname' class="form-label">Gift Name</label>
                </div>
                <div class="col-8">
                    <input type='text' class='form-control' name='giftname' id='giftname' value='{{data.gift_name}}'>
                </div>
                <div class="col-8">
                    <input type='hidden' class='form-control' name='g_id' id='g_id' value='{{data.gift_id}}'>
                </div>
            </div>
            <button type="submit" class="col-md-2 offset-md-5 btn btn-success mt-3">Edit</button>
        </form>
    </div>
</div>
{%endif%}
{%endblock contents%}







